/* You can add global styles to this file, and also import other style files */

app-map .mobile-map-container .map-legend {
  background: linear-gradient(135deg, #14249c, #3B4FBA) !important;
}

// ===== HEADER COHESIVO =====
app-map .mobile-header {
  background: linear-gradient(135deg, #14249c, #3B4FBA) !important;
}

// ===== BOTÓN ISS COHESIVO =====
/*app-map .flight-control {
  background: linear-gradient(135deg, #2D3E99, #3B4FBA) !important;
  border-top: 1px solid rgba(100, 255, 218, 0.2) !important;
}*/



// ===== INFO DEL PASE COHESIVO =====
app-map .mobile-pass-info {
  background: linear-gradient(135deg, #2D3E99, #14249c) !important;
}


/* Al final del archivo src/styles.scss */

/* iPhone - Bottom nav no se esconda */
.app-bottom-nav,
app-bottom-nav,
.bottom-nav,
bottom-nav {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Altura correcta en iPhone */
.simple-home,
.mobile-map-page,
.simple-map {
  min-height: 100vh;
  min-height: 100svh;
  /* iOS 15+ */
  min-height: -webkit-fill-available;
  /* Fallback */
}